$color-white: #fff;
$color-green: #5cb85c;
$brand-primary: darken($color-green, 20%);
$btn-default-color: $color-white;
$btn-default-bg: darken($color-green, 1%);
$color-container: rgba(255, 255, 255, .7);

@import 'bootstrap-sprockets';
@import 'bootstrap';

.container {
  background: $color-container;
}

body {
  background-color: #339966;
}
